#!/bin/sh
# Convenient environment variables for hacking on the project.
# Feel free to change whatever you like in here while you're
# developing; its only purpose is to make playing with the
# window manager more convenient.
export DEVPATH="$PWD"/dev
export DEVLISP="$DEVPATH"/system.lisp
export PATH="$DEVPATH":"$PATH"
CL_SOURCE_REGISTRY="$(sbcl --noinform --load dev/list-dirs.lisp --non-interactive)"
export CL_SOURCE_REGISTRY
